body {
    background-color: blue;  /* cor de fundo */
    color: white; /* cor da letra  */
    margim: 0px; /* espaço antes da borda */
    font-
}

header {
    border-bottom: solid  2px white;  /*borda */
    padding: 20px;    /* espaçamento depois da borda e antes do conteúdo*/

.chamada {
    background-color: #9208ed;
    padding: bottom 80px; 
    padding-top: 80px;
    display: flex; 
    justify-content: center;
}
 
   chamada-texto{
h1 {
    font: size 35px;
}



p {
    color: blue;
    font-size: 16px;
}

  img {
    height: 200px;
  }

  .categoria-videos {
    display: flex;
    overflow : auto;
    gap: 10px;
  }

  section {
    padding-left: 20px;
    padding-right: 20px;
  }  