body {
     background-color: rgb(235, 14, 128);
     color: black;
     margin: 0px;
}

header {
  border-bottom: solid 2px black;
  padding: 20px;
  font-size: 32px;
  color: black;
}

  .chamada {
   background-color: #48e310;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada{
  margin-right: 5%;
}
h1 {
    font-size: 30px;
}

p {
    color: azure;
    font-size: 16px;
}

img {
  height: 200;
}

.categoria-videos {
  display:flex;
  overflow: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}

.categoria-videos img {
  opacity: 0,5;
  height: 200px;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid rgb(17, 167, 247);
}



